<article id="<%= dom_id weight %>" class="py-6 prose dark:prose-invert">
  <p class="mb-0 font-semibold">
    <%= t 'views.weights._weight.description' %>
  </p>
  <p class="my-0">
    <%= weight.description %>
  </p>

  <p class="mb-0 font-semibold">
    <%= t 'views.weights._weight.status' %>
  </p>
  <p class="my-0">
    <%= weight.status %>
  </p>

  <p class="mb-0 font-semibold">
    <%= t 'views.weights._weight.question_answer' %>
  </p>
  <p class="my-0">
    <%= weight.question_answer %>
  </p>

  <p>
    <%= link_to t('views.weights._weight.link_text'), weight, class: "underline" %>
  </p>

  <time class="text-slate-600 dark:text-slate-400 text-xs" datetime="<%= weight.created_at.to_formatted_s(:long) %>">
    <%= I18n.t('datetime.prompts.created') + ' ' + time_ago_in_words(weight.created_at) + ' ' + I18n.t('datetime.prompts.ago') %>
  </time>

</article>
