<%= render "shared/error_messages", resource: form.object %>

<div class=" flex w-full">
  <div class="form-group w-1/2 mr-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-input" %>
  </div>

  <div class="form-group w-1/2">
    <%= form.label :status, class: "form-label" %>
    <%= form.select :status, Goal.statuses.keys.map { |key| [I18n.t("enum.statuses.#{key}"), key] }, { prompt: "Selecione uma categoria" }, class: "form-select" %>
  </div>
</div>

<div class="form-group">
  <%= form.label :description, class: "form-label" %>
  <%= form.text_area :description, class: "form-input" %>
</div>
