<div class="mb-4">
  <h1 class="text-2xl font-bold mb-4">Histórico de Envios de Leads</h1>

  <%= form_with url: lead_histories_path, method: :get, local: true, class: 'flex space-x-2' do %>
    <div class="flex items-center space-x-2">
      <%= label_tag :search, 'Pesquisar por nome do lead:', class: 'block text-sm font-medium text-gray-700' %>
      <%= text_field_tag :search, params[:search], class: 'form-input' %>
    </div>
    <div class="flex items-center space-x-2">
      <%= label_tag :start_date, 'Data de Início:', class: 'block text-sm font-medium text-gray-700' %>
      <%= date_field_tag :start_date, params[:start_date], class: 'form-input' %>
    </div>
    <div class="flex items-center space-x-2">
      <%= label_tag :end_date, 'Data de Término:', class: 'block text-sm font-medium text-gray-700' %>
      <%= date_field_tag :end_date, params[:end_date], class: 'form-input' %>
    </div>
    <div>
      <%= submit_tag 'Filtrar', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<table class="min-w-full divide-y divide-slate-300/80 dark:divide-slate-600 mt-4">
  <thead class="bg-slate-50 dark:bg-slate-800">
  <tr>
    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-slate-500 uppercase tracking-wider">Data e Hora</th>
    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-slate-500 uppercase tracking-wider">Nome do Lead</th>
    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-slate-500 uppercase tracking-wider">Destino</th>
  </tr>
  </thead>
  <tbody class="bg-white divide-y divide-slate-300 dark:bg-slate-900 dark:divide-slate-600">
  <% @lead_histories.each do |history| %>
    <tr class="hover:bg-slate-50 dark:hover:bg-slate-800 transition ease-in-out duration-200">
      <td class="px-6 py-4 whitespace-nowrap text-sm text-slate-900"><%= history.sent_at %></td>
      <td class="px-6 py-4 whitespace-nowrap text-sm text-slate-900"><%= history.score.name %></td>
      <td class="px-6 py-4 whitespace-nowrap text-sm text-slate-900"><%= history.destination %></td>
    </tr>
  <% end %>
  </tbody>
</table>
